---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";


/* Disable theme numbering for the publications list */
ul.publist,
ol.publist { list-style: none; counter-reset: none; margin-left: 0; padding-left: 0; }

.publist li.pub {
  list-style: none;
  counter-increment: none;
  margin: 0 0 0.75rem 0;  /* optional spacing */
}

/* Kill any theme-generated markers/counters */
.publist li.pub::before,
.publist li.pub::marker { content: none !important; }
/* Remove numbering/bullets from jekyll-scholar bibliography lists */
ol.bibliography,
ul.bibliography {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  counter-reset: none;
}

ol.bibliography > li,
ul.bibliography > li {
  counter-increment: none;
}

/* Defeat themes that draw numbers with ::before */
ol.bibliography > li::before {
  content: none !important;
}

@media (min-width: 900px) {
  .layout--archive .sidebar { width: 270px; }           /* tweak to taste */
  .layout--archive #main { margin-left: 340px; }         /* sidebar width + gutter */
}
